$main-color: #FF6060;

.accommodation-title-location-and-host {
    width: 100%;
    margin-top: 25px;
    display: flex;
    .title-and-location {
        margin-left: 0;
        h1 {
            color: $main-color;
            font-size: 36px;
            font-weight: 500;
            line-height: 51.34px;
        }
        h2 {
            color: $main-color;
            font-size: 18px;
            font-weight: 500;
            line-height: 25.67px;
        }
    }
    .host {
        display: flex;
        margin-right: 0;
        img {
            width: 64px;
            height: 64px;
            border-radius: 90px;
        }
        p {
            width: 93px;
            color: $main-color;
            font-size: 18px;
        }
    }
}
.tags-and-rating {
    display: flex;
}
.description-and-equipments {
    display: flex;
    gap: 100px;
    p {
        height: 100%;
        line-height: 28px;
    }
    ul {
        padding: 0;
    }
}

@media screen and (min-width: 375px) and (max-width: 720px) {
    .accommodation-title-location-and-host {
        display: flex;
        flex-direction: column;
        gap: 27px;
        width: 89.3%;
        .title-and-location {
            h1 {
                width: 100%;
                font-size: 18px;
                line-height: 25.67px;
            }
            h2 {
                width: 100%;
                font-size: 14px;
                line-height: 19.96px;
            }
        }
    }
    .tags-and-rating {
        display: block;
        width: 89.3%;
    }
}
