$main-color: #FF6060;

.accommodation-title-location-and-host {
    width: 100%;
    margin-top: 25px;
    display: flex;
    .title-and-location {
        margin-left: 0;
        h1 {
            color: $main-color;
            font-size: 36px;
            font-weight: 500;
            line-height: 51.34px;
        }
        h2 {
            color: $main-color;
            font-size: 18px;
            font-weight: 500;
            line-height: 25.67px;
        }
    }
    .host {
        display: flex;
        margin-right: 0;
        img {
            width: 64px;
            height: 64px;
            border-radius: 90px;
        }
        p {
            width: 93px;
            color: $main-color;
            font-size: 18px;
        }
    }
}
.tags-and-rating {
    display: flex;
}
.description-and-equipments {
    display: flex;
    gap: 100px;
    p {
        height: 100%;
        line-height: 28px;
    }
    ul {
        padding: 0;
    }
}

@media screen and (max-width: 800px) {
    .accommodation-title-location {
        display: flex;
        flex-direction: column;
        gap: 27px;
        width: 89.3%;
        .title-and-location {
            width: 100%;
            margin-top: 10px;
            h1 {
                width: 100%;
                font-size: 18px;
                font-weight: 500;
                line-height: 25.67px;
                text-align: left;
                color: $main-color;
            }
            h2 {
                width: 100%;
                font-size: 14px;
                font-weight: 500;
                line-height: 19.96px;
                color: $main-color;
            }
        }
    }
    .rating-and-host {
        width: 89.3%;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        img {
            width: 32px;
            height: 32px;
            border-radius: 90px;
            margin: 0;
        }
        p {
            width: 93px;
            color: $main-color;
            text-align: center;
            font-size: 12px;
            margin: 0;
        }
    }
    .description-and-equipments {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 0px;
        p {
            height: 100%;
            line-height: 28px;
        }
        ul {
            padding: 0;
        }
    }
}
