$main-color: #FF6060;

.carousel {
    position: relative;
    margin-top: 50px;
    img {
        width: 100%;
        height: 415px;
        border-radius: 25px;
        object-fit: cover;
    }
      .carousel-buttons {
        position: absolute;
        top: 147.68px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        z-index: 1;
        .previous-button-carousel, .next-button-carousel {
            width: 96px;
            height: 119.64px;
            background-color: transparent;
            border: none;
            margin: auto 0;
            .arrow-back, .arrow-forward {
                width: 100%;
                height: 100%;
            }
        }
        .next-button-carousel {
            margin-left: auto;
        }
    }
    .photo-nb-carousel {
        width: 100%;
        position: absolute;
        top: 380px;
        font-size: 18px;
        color: #FFFFFF;
        text-align: center;
        line-height: 25.67px;
    }
}

.inactive {
    display: none;
}

@media screen and (max-width: 800px) {
    .carousel {
        width: 89.3%;
        height: 255px;
        margin-top: 27px;
        img {
            width: 100%;
            height: 255px;
        }
        .carousel-buttons {
            top: 115.5px;
            left: -5px;
            width: 100%;
            .previous-button-carousel, .next-button-carousel {
                width: 24px;
                height: 24px;
                .arrow-back-min, .arrow-forward-min {
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .photo-nb-carousel {
            display: none;
        }
    }
}