$main-color: #FF6060;
$background: #F6F6F6;

.collapse {
    display: flex;
    flex-direction: column;
    width: 71%;
    height: auto;
    margin-top: 38px;
    overflow: hidden;
    .collapse-title-bar {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 52px;
        margin: 0;
        background-color: $main-color;
        border-radius: 5px;
        h1 {
            color: #FFFFFF;
            font-size: 24px;
            font-weight: 500;
            padding: 10px;
            line-height: 34.22px;
            margin: 0 auto 0 0;
        }
        .collapse-button {
            position: relative;
            background-color: transparent;
            border: none;
            margin: 0 15px 0 0;
            .arrow-opening {
                transform: rotate(-180deg);
                transition: transform 400ms linear;
            }
            .arrow-closing {
                transform: rotate(0deg);
                transition: transform 400ms linear;
            }
        }
    }
    .about-text {
        color: $main-color;
        background-color: $background;
        border-radius: 0 0 5px 5px;
    }
    .about-text p {
        padding: 15px;
        font-size: 18px;
    }
   .text-closing {
        width: 100%;
        transform: translateY(-100%);
        transition: transform 400ms ease-in-out, max-height 400ms ease-in-out;
        overflow: hidden;
        max-height: 0;
        z-index: -1;
   }
    .text-opening {
        width: 100%;
        max-height: 100vh;
        transform: translateY(0%);
        transition: transform 400ms ease-in;
        z-index: -1; 
   }
}

@media screen and (max-width: 800px) {
    .collapse{
        width: 89.3%;
        height: auto;
        margin-top: 19px;
        .collapse-title-bar {
            width: 100%;
            height: 30px;
            margin: 0 auto;
            h1 {
                font-size: 13px;
                line-height: 18.54px;
                padding: 8.5px;
            }
            .collapse-button {
                width: 32px;
                height: 32px;
                margin-right: 5px;
                img {
                    width: 16px;
                    height: 9.14px;
                }
            }
        }
        .about-text p {
            padding: 15px;
            font-size: 12px;
            line-height: 17.11px;
            font-weight: 400;
        }
    }
}