.presentation {
    margin: 50px auto 0 auto;
    width: 100%;
    height: 223px;
    .presentation-overlay {
        position: absolute;
        width: 100%;
        height: 223px;
        border-radius: 25px;
        background-color: #000000;
        opacity: 30%;
        z-index: 1;
    }
    .presentation-img {
        position: absolute;
        width: 100%;
        height: 223px;
        border-radius: 25px;
        object-fit: cover;
        z-index: -1;
    }
    .presentation-txt {
        display: flex;
        position: relative;
        justify-content: center;
        font-size: 48px;
        font-weight: 500;
        color: #FFFFFF;
        border-radius: 25px;
        padding-top: 80px;
        z-index: 2;
    }
    br {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 720px) {
    .presentation {
        width: 89.6%;
        height: 111px;
        margin: 25px auto 0 auto;
        .presentation-img, .presentation-overlay {
            width: 89.6%;
            height: 111px;
        }
        .presentation-img {
            object-fit: cover;
        }
        .presentation-txt {
            display: flex;
            align-items: center;
            width: 217px;
            height: 100%;
            font-size: 24px;
            padding: 0;
            margin: auto 0 auto 15px;
        }
        br {
            display: inline;
        }
    }
    .presentation-about-mobile, .presentation-img-about-mobile, .presentation-overlay-about-mobile {
        width: 89.6% !important;
        height: 223px !important;
    }
}