$main-color: #FF6060;

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: local("Montserrat"),
     url("../../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: normal;
   }

* {
    max-width: 1440px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

header, .presentation, .presentation-img, .presentation-overlay, .presentation-txt, .cards-container, .carousel, .accommodation-title-location-and-host, .tags-and-rating, .description-and-equipments {
    max-width: 1240px;
}

@media screen and (min-width: 375px) and (max-width: 720px) {
}